<template>
      <v-menu
          ref="bMenu"
          v-model="bMenu"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="dateRangeText"
                label="Выберете интервал для поиска"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
        </template>
        <v-date-picker
          v-model="aDates"
          range
          scrollable
          locale="ru-RU"
          first-day-of-week=1
        >
          <v-btn @click="fResetFilters" color="primary">Отменить</v-btn>
          <v-btn @click="fSearch" color="primary">Искать</v-btn>
        </v-date-picker>
      </v-menu>
</template>

<script>
export default {
  data() {
    return {
      aDates: [],
	    bDatePickerOpen: false,
      bMenu: false,
      bDatePickerDisabled: false
    }
  },
	methods: {
		fSearch() {
			this.$store.commit('fSetDateInterval', [this.aDates[0], this.aDates[1]]);
      this.bMenu = false;
		},
    fResetFilters() {
      this.bMenu = false;
      this.aDates = [];
    }
	},
  computed: {
    dateRangeText() {
      return this.aDates.join(' ~ ');
    }
  },
  watch: {
    '$store.state.date_interval'(newValue) {
        if (!newValue.length) {
            this.aDates = [];
        }
    }
  }
}
</script>
