<template>
	<div class="filter-list">
		<div class="filter-item">
			<search-input/>
		</div>
		<div class="filter-item">
			<date-filter/>
		</div>
		<div class="filter-item">
            <v-btn
              block
              color="primary"
			  @click="fResetFilters"
            >
			  Сбросить фильтры
            </v-btn>
		</div>
	</div>
</template>

<script>
import SearchInput from '~/components/search_input.vue';
import DateFilter from '~/components/date_filter.vue';

export default {
	components: {
   		SearchInput,
    	DateFilter
    },
	methods: {
		fResetFilters() {
    	  this.$store.commit('fResetFilters');
    	}
  	},
}
</script>
