<template>
	<v-app id="inspire">
		<main class="container">
        <h1>Use NEWS</h1>
    	  <filters/>
    	  <news-list/>
    	  <pagination v-if="bPagination"/>
    </main>
	</v-app>
</template>

<script>
import Filters from '~/components/filters.vue'
import NewsList from '~/components/news_list.vue';
import Pagination from '~/components/pagination.vue';

export default {
  components: {
    NewsList,
    Filters,
    Pagination
  },

  mounted() {
    this.$store.dispatch('faGetPosts')
  },
  computed: {
		bPagination() {
			return this.$store.getters.nPagesCount > 1;
	  }
  }
}
</script>
