<template>
	<v-app id="inspire">
		<main class="container">
	      <NuxtLink to="/">
            <v-btn
              block
              fixed
              color="primary"
            >
	      	    Назад к списку
            </v-btn>
	      </NuxtLink>
         <div class="single-news">
		  <h1 class="single-news-heading">
           {{ vCurrentPost.title }}
        </h1>
        <div class="single-news-text">
           <p>{{ vCurrentPost["rbc_news:full-text"]}}</p>
        </div>
        <v-dialog
            v-if="vIsImage"
            max-width="650"
            v-model="dialog"
          >
            <template v-slot:activator="{ on, attrs }">
               <div class="single-news-img"            
                  v-bind="attrs"
                  v-on="on">
                  <img :src="`${vIsImage['rbc_news:url']}`"/>
               </div>
            </template>
            <v-card>
               <div class="card-content">
                  <div 
                     class="card-img"
                     :style="`background-image: url(${vIsImage['rbc_news:url']})`"          
                  >

                  </div>
               </div>
            </v-card>
       </v-dialog>
        <div class="single-news-add-info">
           <span class="single-news-date">{{ vCurrentPost["rbc_news:date"]}}</span>
           <span class="single-news-author">{{ vCurrentPost.author}}</span>
        </div>
         <div class="single-news-tags">
           <a href="#" v-for="(tag, idx) in vCurrentPost['rbc_news:tag']" :key="idx">
               #{{fGetValueTrim(tag)}}
           </a>
        </div>
         </div>
      </main>
   </v-app>
</template>

<script>
import { fFormatString } from '../ctrl_data/service/FormatS';

export default {
   data() {
      return {
         dialog: false,
      }
   },
   props: ['id'],
	methods: {
      fGetValueTrim(tag) {
         return fFormatString(tag, / /g, '');
      }
   },
   computed: {
		vCurrentPost() {
			return this.$store.state.ix_post_list_full[this.id];
		},
      vIsImage() {
         return this.vCurrentPost['rbc_news:image'];
      }
	}
}
</script>
