<template>
  <div class="news-list">
    <div class="news-list-item" v-for="item of avPosts" :key="item['rbc_news:news_id']">
        <NuxtLink :to="`/news/${item['rbc_news:news_id']}`">
            <h3 class="news-list-item-heading">
               {{ item.title }}
            </h3>
            <div class="news-list-item-text">
               {{ item["rbc_news:anons"]}}
            </div>
            <div class="news-list-item-info">
               <span class="news-list-item-date">{{ item.author }}</span>
               <span class="news-list-item-author">{{ item["rbc_news:date"] }}</span>
            </div>
            <div class="news-list-item-tags">
               <a href="#" v-for="(tag, idx) in item['rbc_news:tag']" :key="idx">
                   #{{fGetValueTrim(tag)}}
               </a>
            </div>
        </NuxtLink>
    </div>
  </div>
</template>

<script>
import { fFormatString } from '../ctrl_data/service/FormatS';

export default {
	  methods: {
      fGetValueTrim(tag) {
        return fFormatString(tag, / /g, '');
      }
    },
    computed: {
        nOffset() {
          return this.$store.getters.nOffset;
        },
        avPosts() {
          return this.$store.state.post_list;
        },
    }
  }
</script>
