<template>
	<div class="news-list-pagination">
    	<div class="text-center">
    		<v-pagination
    		  	v-model="current_page"
    		  	:length="nPagesCount"
			  	@input="fSetCurrentPage"
			  	@previous="fSetCurrentPage"
			  	@next="fSetCurrentPage"
    		></v-pagination>
    	</div>
    </div>
</template>

<script>
export default {
 	data () {
 	  return {
 	    current_page: 1,
 	  }
 	},
	mounted() {
		this.current_page = this.$store.state.current_page;
	},
	methods: {
		fSetCurrentPage() {
			this.$store.commit('fGoPage', this.current_page);

			const nDates = this.vSearchQuery.date_interval.length;
			const sSearchQuery = this.vSearchQuery.search_query;

			if (nDates || sSearchQuery) {
				this.$store.commit('fSearchByQuery');
			} else {
				this.$store.commit('fSetPosts');
			}
		}
	},
    computed: {
		nPagesCount() {
			return this.$store.getters.nPagesCount;
		},
		vSearchQuery() {
			return this.$store.getters.vSearchQuery;
		}
	},
  }
</script>
