<template>
	<v-row>
	    <v-col cols="12">
	 		<v-text-field
     		   label="Ищете что то конкретное?"
			   v-model="sQuery"
     		   hide-details="auto"
			   @keydown.enter="fSearch"
     		></v-text-field>
		</v-col>
	</v-row>
</template>

<script>
export default {
    data() {
      return {
		sQuery: '',
      }
    },
	methods: {
		fSearch() {
			this.$store.commit('fSearchByQuery', this.sQuery);
		}
	},
	watch: {
    '$store.state.search_query'(newValue) {
        if (!newValue) {
            this.sQuery = '';
        }
    }
  }
}
</script>
