<template>
  <Main/>
</template>

<script>
import Main from '~/components/main.vue'

export default {
  components: {
    Main
  }
}
</script>

<style lang="scss">
  /** Common */
  .main {
    width: 100%;
    max-width: 100%;
  }

  .container {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }

  /** Filters */
  .filter-list {
		min-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}

	.filter-item {
		width: 100%;
	}

  /** NewsList */
  .news-list {
    width: 100%;
    margin-top: 50px;
  }

  .news-list-item {
    width: 100%;
    font-family: sans-serif;
    border: 1px solid #b8b8b8;
    margin-bottom: 10px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    justify-content: space-between;
    color: #000;
  }

  .news-list-item a {
    color: #000;
    margin: 5px 0;
    text-align: left;
    text-decoration: none;
  }

  .news-list-item-tags a {
    margin-right: 10px;
    color: #1976d2;
  }

  .news-list-pagination {
		margin-top: 50px;
	}

  /** Single_News  */
  .single-news {
    height: 100%;
    max-width: 100%;
  }

  .single-news-heading {
    margin-top: 50px;
  }

  .single-news-text {
    margin-top: 70px;
    line-height: 32px;
    text-align: left;
    font-size: 17px;
    box-sizing: border-box;
  }

  .single-news-img {
    margin-top: 50px;
    width: 500px;
    max-width: 100%;
    cursor: pointer;
  }

  .single-news-img img {
    max-width: 100%;
  }

  .single-news-add-info {
     width: 100%;
     text-align: left;
     margin-top: 20px;
     margin-right: 15px;
  }

  .single-news-tags {
     margin: 30px 0;
     text-align: left;
  }

  .v-btn {
    left: 0;
    max-width: 100%;
  }

  .card-img {
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    background-position: center center;
    background-size: contain;
  }

  .card-img img {
    max-width: 100%;
  }

  .card-content {
    padding: 10px;
  }

  @media screen and ( max-width: 500px ) {
    .single-news-heading {
      font-size: 25px;
    }
  }
</style>
