<template>
    <news-single :id="nId"/>
</template>

<script>
import NewsSingle from '~/components/news_single.vue';

export default {
  components: {
    NewsSingle,
  },
  computed: {
    nId() {
      return this.$route.params.id;
    }
  }
}
</script>
